In [1]:
import pandas as pd

In [2]:
a = [2]

In [3]:
b = [4]

In [4]:
a.append(b)

In [5]:
a

[2, [4]]

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [7]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [11]:
df[df['fuel_qty_burned'] == 1]

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
5403,f1_fuel_1998_12_149_4_2,149,1998,salem (nuclear),nuclear,gramsU,1.0,0.000060,31.908,0.000,0.5290
6872,f1_fuel_2000_12_75_1_2,75,2000,"louisa, ia",oil,bbl,1.0,5.880000,41.473,28.980,7.0530
9203,f1_fuel_2001_12_75_1_2,75,2001,"louisa, ia",oil,bbl,1.0,5.880000,40.308,0.000,6.8550
10343,f1_fuel_2002_12_281_4_5,281,2002,louisa,oil,bbl,1.0,5.880000,45.120,0.000,7.6730
13019,f1_fuel_2004_12_120_0_5,120,2004,mn valley,gas,mcf,1.0,1.000000,335.160,335.160,3.3516
13704,f1_fuel_2005_12_42_1_13,42,2005,yankee,oil,bbl,1.0,5.822796,32.528,32.528,5.5860
13925,f1_fuel_2005_12_9_0_10,9,2005,conemaugh (3.83%),oil,bbl,1.0,5.767524,58.469,73.492,10.1380
15048,f1_fuel_2006_12_281_4_5,281,2006,louisa,oil,bbl,1.0,5.880000,78.030,0.000,13.2700
16831,f1_fuel_2007_12_194_4_8,194,2007,rock river unit 5,oil,bbl,1.0,5.882436,49.440,49.440,7.3630
16833,f1_fuel_2007_12_194_4_11,194,2007,rock river unit 6,oil,bbl,1.0,5.882436,44.290,0.000,7.3630
17139,f1_fuel_2008_12_7_3_7,7,2008,yucca 2,oil,bbl,1.0,5.805828,74.125,59.567,12.7670
18697,f1_fuel_2009_12_194_6_2,194,2009,s fond du lac unit 1,oil,bbl,1.0,5.881806,0.000,0.000,5.9510
18700,f1_fuel_2009_12_194_6_8,194,2009,s fond du lac u1&4,oil,bbl,1.0,5.881806,0.000,0.000,5.9510
20469,f1_fuel_2010_12_281_3_14,281,2010,louisa,oil,bbl,1.0,5.805996,63.840,0.000,10.9960
21958,f1_fuel_2012_12_132_1_2,132,2012,solway,oil,bbl,1.0,5.880000,83.538,0.000,14.2070
23655,f1_fuel_2013_12_281_3_14,281,2013,louisa,oil,bbl,1.0,5.735100,128.400,0.000,22.3880
27593,f1_fuel_2017_12_122_2_1,122,2017,aberdeen #2,oil,bbl,1.0,5.796000,134.692,134.692,23.2390
28055,f1_fuel_2017_12_281_3_14,281,2017,louisa,oil,bbl,1.0,5.768784,0.016,0.000,15.5720

In [36]:
df.groupby(pd.Grouper(key='report_year', 'fuel_type_code_pudl'))['fuel_cost_per_unit_burned'].mean()

SyntaxError: positional argument follows keyword argument (<ipython-input-36-4be8a37b2501>, line 1)

In [16]:
import scipy.stats as stats

In [43]:
df['fuel_mmbtu_per_unit'].quantile(.75), df['fuel_mmbtu_per_unit'].std()

(17.006, 10.600220307806714)

In [45]:
df['fuel_qty_burned'].skew(), df['fuel_qty_burned'].kurt()

(15.851495469109503, 651.3694501337732)

In [19]:
stats.kurtosis(df['fuel_qty_burned'])

651.2589365474387

In [20]:
stats.skew(df['fuel_qty_burned'])

15.850690077422112

In [22]:
df.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [23]:
df.shape

(29523, 11)

In [25]:
(180/29523)*100

0.609694136774718

In [27]:
df['fuel_unit'].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [30]:
df.corr()['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [46]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [47]:
missing_value_df

                                               column_name  percent_missing
record_id                                        record_id         0.000000
utility_id_ferc1                          utility_id_ferc1         0.000000
report_year                                    report_year         0.000000
plant_name_ferc1                          plant_name_ferc1         0.000000
fuel_type_code_pudl                    fuel_type_code_pudl         0.000000
fuel_unit                                        fuel_unit         0.609694
fuel_qty_burned                            fuel_qty_burned         0.000000
fuel_mmbtu_per_unit                    fuel_mmbtu_per_unit         0.000000
fuel_cost_per_unit_burned        fuel_cost_per_unit_burned         0.000000
fuel_cost_per_unit_delivered  fuel_cost_per_unit_delivered         0.000000
fuel_cost_per_mmbtu                    fuel_cost_per_mmbtu         0.000000

In [56]:
df.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [51]:
31.44 - 27.61

3.830000000000002

In [53]:
3.8/31.44

0.1208651399491094

In [54]:
3.8/27.61

0.13763129300977905